$background : #fff2e2;
$background-2 : #fffffe;
$headline : #0d0d0d;
$paragraf : #2a2a2a;
$paragraf-2 : #8f8f8f;
$primary : #d2545e;
$secondary : #ff8e3c;
$Success : #93bc39;
$Error : #ee3e54;

body{
    background-color: $background-2;
}

h1,h2,h3,h4,h5,h6{
    color: $headline;
}

header{
    background-color: $primary;
}

nav h5, nav h6{
    color: $background;
}
    

.add-card{
    background-color: $background-2;
}

footer{
    background-color: $primary;

    h4, h5{
        color: $background;
    }
    h6{
        color: #e7d8c6;
    }
}

input::placeholder{
    color: $paragraf-2;
}