footer{
    width: 100vw;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footer-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .footer-identity{
                display: flex;
                flex-direction: row;
                align-items: center;

                h4{
                    margin-bottom: -8px;
                }

                img{
                    margin-right: 20px;
                    width: 100px;
                    height: 100px;  
                    border-radius: 50px;
                    padding: 5px;
                }
            }

            .footer-links{
                display: flex;
                flex-direction: row;
                justify-content: center;

                .footer-link{
                    margin: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                    h5{
                        margin-bottom: 10px;
                    }

                    h6{
                        margin-bottom:3px;
                    }
                }
            }
        }
    }
}