@import 'color';

.content{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;

    .content-img-1{
        position: absolute;
        top: 0;
        left: 0;
    }

    .content-img-2{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    
    .content-container{
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .rating{
            margin-top:10px ;
            display: flex;
            flex-direction: column;

            .rating-container{
                display: flex;
                flex-direction: row;
                
                .rating-card{
                    margin: 5px 30px;
                }
            }
        }
    }

    .content-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px;

        .main-img{
            height: 256px;
            border-radius: 90px;
            margin-right: 40px;
            opacity: 90%;
        }

        .content-main-text{
            justify-content: center;
            display: flex;
            flex-direction: column;

            .content-main-stars{
                img{
                    margin: 4px;
                }
                margin:5px
            }
        }
    }
    
    .content-description{
        text-align: justify;
        margin: 2vh 2vw;
    }
}
.review-add {
    margin: 3vh 0;

    button {
        background: #d2545e;
        border: none;
        border-radius: 3px;
        padding: 14px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: white;
    }
}