::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

* {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 56px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav .nav-left img {
  padding: 2px;
  width: 44px;
  border-radius: 64px;
  margin: 5px;
  margin-right: 10px;
}
header nav .nav-right {
  display: flex;
  flex-direction: row;
}
header nav .nav-right a {
  margin: 16px;
}

footer {
  width: 100vw;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-container .footer-content .footer-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-container .footer-content .footer-identity h4 {
  margin-bottom: -25px;
}
footer .footer-container .footer-content .footer-identity img {
  margin-top: 32px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 5px;
}
footer .footer-container .footer-content .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer-container .footer-content .footer-links .footer-link {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
footer .footer-container .footer-content .footer-links .footer-link h5 {
  margin-bottom: 10px;
}
footer .footer-container .footer-content .footer-links .footer-link h6 {
  margin-bottom: 3px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 51px;
  line-height: 72px;
  letter-spacing: 0;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: 0;
  font-weight: bold;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: bold;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
}

h6, #search, #submit {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d0d0d;
}

header {
  background-color: #d2545e;
}
header img {
  background-color: #fff2e2;
}

nav h5 {
  color: #fff2e2;
}

.add-card {
  background-color: #fffffe;
}

footer {
  background-color: #d2545e;
}
footer h4, footer h5 {
  color: #fff2e2;
}
footer h6 {
  color: #e7d8c6;
}
footer img {
  background-color: #fff2e2;
}

body {
  background-color: #fffffe;
}

.jumbotron {
  background-color: #fff2e2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron .jumbotron-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbotron .jumbotron-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron .jumbotron-container form input {
  margin: 5px;
  outline: none;
}
.jumbotron .jumbotron-container form #search {
  width: 300px;
  height: 25px;
  border-radius: 20px;
  color: #2a2a2a;
  border: 4px solid #ff8e3c;
  padding: 7px;
}
.jumbotron .jumbotron-container form #search::placeholder {
  color: #8f8f8f;
}
.jumbotron .jumbotron-container form #submit {
  border: none;
  width: 170px;
  height: 35px;
  border-radius: 20px;
  color: #fffffe;
  background-color: #ff8e3c;
}
.jumbotron .jumbotron-container form #submit:active, .jumbotron .jumbotron-container form #submit:hover {
  border: 3px solid #d2545e;
}
.jumbotron #img-jumbotron-1 {
  position: absolute;
  z-index: 0;
  opacity: 85%;
  left: 0px;
  top: 0px;
}
.jumbotron #img-jumbotron-2 {
  position: absolute;
  z-index: 0;
  opacity: 85%;
  right: -5px;
  bottom: 0px;
}

.recomend {
  position: relative;
  z-index: 4;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recomend .recomend-container {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recomend .recomend-container h2 {
  margin-top: -20px;
  margin-bottom: 80px;
}
.recomend .recomend-container .recomend-content {
  display: flex;
  flex-direction: row;
}
.recomend .recomend-container .recomend-content .recomend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 48px;
}
.recomend .recomend-container .recomend-content .recomend-card img {
  border-radius: 120px;
  margin-bottom: 30px;
}
.recomend .recomend-container .recomend-content .recomend-card * {
  margin: 4px;
}

.add {
  background-color: #fff2e2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add .add-container {
  z-index: 4;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add .add-container h2 {
  margin-top: -20px;
  margin-bottom: 80px;
}
.add .add-container .add-content {
  display: flex;
  flex-direction: row;
}
.add .add-container .add-content .add-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.add .add-container .add-content .add-card .add-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  
}
.add .add-container .add-content .add-card img {
  width: 280px;
}
.add #img-add-1 {
  opacity: 85%;
  position: absolute;
  z-index: 0;
  bottom: -200vh;
  left: 0;
}
.add #img-add-2 {
  opacity: 85%;
  position: absolute;
  z-index: 0;
  top: 200vh;
  right: 0;
}

.add-card-text:nth-child(2) h5 {
  font-size: 16px;
}

/*# sourceMappingURL=index.css.map */
