body {
  background-color: #fff2e2;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d0d0d;
}

header {
  background-color: #d2545e;
}

nav h5, nav h6 {
  color: #fff2e2;
}

.add-card {
  background-color: #fffffe;
}

footer {
  background-color: #d2545e;
}
footer h4, footer h5 {
  color: #fff2e2;
}
footer h6 {
  color: #e7d8c6;
}

input::placeholder {
  color: #8f8f8f;
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron .jumbotron-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbotron .jumbotron-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron .jumbotron-container form input {
  margin: 5px;
  outline: none;
}
.jumbotron .jumbotron-container form #search {
  width: 300px;
  height: 25px;
  border-radius: 20px;
  color: #2a2a2a;
  border: 4px solid #ff8e3c;
  padding: 7px;
}
.jumbotron .jumbotron-container form #search::placeholder {
  color: #8f8f8f;
}
.jumbotron .jumbotron-container form #submit {
  border: none;
  width: 170px;
  height: 35px;
  border-radius: 20px;
  color: #fffffe;
  background-color: #ff8e3c;
}
.jumbotron .jumbotron-container form #submit:active, .jumbotron .jumbotron-container form #submit:hover {
  border: 3px solid #d2545e;
}
.jumbotron #img-jumbotron-1 {
  position: absolute;
  z-index: 0;
  opacity: 85%;
  left: 0px;
  top: 0px;
}
.jumbotron #img-jumbotron-2 {
  position: absolute;
  z-index: 0;
  opacity: 85%;
  right: -5px;
  bottom: 0px;
}

.recomend {
  background-color: #fffffe;
  position: relative;
  z-index: 4;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recomend .recomend-container {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recomend .recomend-container h2 {
  margin-top: -40px;
  margin-bottom: 80px;
}
.recomend .recomend-container .recomend-content {
  display: flex;
  flex-direction: row;
}
.recomend .recomend-container .recomend-content .recomend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 48px;
}
.recomend .recomend-container .recomend-content .recomend-card img {
  border-radius: 120px;
  margin-bottom: 30px;
}
.recomend .recomend-container .recomend-content .recomend-card h6 {
  color: #ff8e3c;
}
.recomend .recomend-container .recomend-content .recomend-card * {
  margin: 4px;
}

.add {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add .add-container {
  z-index: 4;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add .add-container h2 {
  margin-top: -40px;
  margin-bottom: 80px;
}
.add .add-container .add-content {
  display: flex;
  flex-direction: row;
}
.add .add-container .add-content .add-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.add .add-container .add-content .add-card .add-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.add .add-container .add-content .add-card .add-card-text:nth-child(2) h5 {
  font-size: 16px;
}
.add .add-container .add-content .add-card img {
  width: 280px;
}
.add #img-add-1 {
  opacity: 85%;
  position: absolute;
  z-index: 0;
  bottom: -200vh;
  left: 0;
}
.add #img-add-2 {
  opacity: 85%;
  position: absolute;
  z-index: 0;
  top: 200vh;
  right: 0;
}

/*# sourceMappingURL=index.css.map */
