* {
  margin: 0;
  overflow-x: hidden;
}
* ::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0;
  font-weight: bold;
}

.jumbotron h2, .recomend h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 51px;
  line-height: 72px;
  letter-spacing: 0;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: 0;
  font-weight: bold;
}

/* h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: bold;
} */

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: "Semibold";
}

h6, #search, #submit {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
  font-weight: "Semibold";
}

h1, h2, h3, h4, h5, h6 {
  color: #0d0d0d;
}

body {
  background-color: #fffffe;
}

.jumbotron {
  overflow-x: hidden;
  background-color: #fff2e2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron .container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbotron .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron .container form input {
  margin: 5px;
  outline: none;
}
.jumbotron .container form #search {
  width: 300px;
  height: 25px;
  border-radius: 20px;
  color: #2a2a2a;
  border: 4px solid #ff8e3c;
  padding: 7px;
}
.jumbotron .container form #search::placeholder {
  color: #8f8f8f;
}
.jumbotron .container form #submit {
  border: none;
  width: 170px;
  height: 35px;
  border-radius: 20px;
  color: #fffffe;
  background-color: #ff8e3c;
}
.jumbotron .container form #submit:active, .jumbotron .container form #submit:hover {
  border: 3px solid #d2545e;
}
.jumbotron img {
  position: absolute;
  z-index: 1;
  opacity: 85%;
}
.jumbotron #img-jumbotron-1 {
  left: 0px;
  top: 0px;
}
.jumbotron #img-jumbotron-2 {
  right: -5px;
  bottom: 0px;
}

.foot-container {
  width: 100%; 
  height: 100%; 
  background: #D2545E;
}


.footer-container {
  background: #D2545E;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.col-container {
  display: flex;
  flex-direction: column;
  padding: 1vh .5vw;
}

.col-container a, .col-container p, .col-container h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  padding: .9vh 0;
}

.col-container:first-child {
  display: flex;
  justify-content: space-around;
}

.col-container h2 {
  text-align: center;
}

.col-1 {
  display: flex;
  flex-direction: row;
}

.photo-picture img {
  border-radius: 50%;
  width: 6vw;
  margin: 0 2vw;
}

.col-container h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.col-container .profile-footer {
  padding: .5vh 0;
}

@media (max-width: 768px) {
  .footer-container {
      display: flex;
      flex-direction: column;
  }

  .col-container {
      text-align: center;
      justify-content: center;
      margin: 1.5vw 0;
  }

  .col-1 {
      justify-content: center;
      text-align: start;
  }

  .col-1 .photo-picture {
      margin: 3vw;
  }

  .jumbotron .container {
    text-align: center;
  }

  .jumbotron .container h1 {
    font-size: 10vw;
    line-height: normal;
  }


}
/*# sourceMappingURL=index.css.map */
