::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
}

* {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 56px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav .nav-left img {
  padding: 2px;
  width: 44px;
  border-radius: 64px;
  margin: 5px;
  margin-right: 10px;
}
header nav .nav-right {
  display: flex;
  flex-direction: row;
}
header nav .nav-right a {
  margin: 12px;
}

footer {
  width: 100vw;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-container .footer-content .footer-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-container .footer-content .footer-identity h4 {
  margin-bottom: -8px;
}
footer .footer-container .footer-content .footer-identity img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 5px;
}
footer .footer-container .footer-content .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer-container .footer-content .footer-links .footer-link {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
footer .footer-container .footer-content .footer-links .footer-link h5 {
  margin-bottom: 10px;
}
footer .footer-container .footer-content .footer-links .footer-link h6 {
  margin-bottom: 3px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 51px;
  line-height: 72px;
  letter-spacing: 0;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: 0;
  font-weight: bold;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: bold;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
}

h6, #search, #submit {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
}

body {
  background-color: #fffffe;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d0d0d;
}

header {
  background-color: #d2545e;
}

nav h5, nav h6 {
  color: #fff2e2;
}

.add-card {
  background-color: #fffffe;
}

footer {
  background-color: #d2545e;
}
footer h4, footer h5 {
  color: #fff2e2;
}
footer h6 {
  color: #e7d8c6;
}

/*# sourceMappingURL=semua.css.map */
